<h2>課程詳細內容</h2>

<table>
  <tr>
    <td>課程名稱:</td>
    <td><%= @course.course %></td>
  </tr>
  <tr>
    <td>時間:</td>
    <td><%= @course.time %></td>
  </tr>
  <tr>
    <td>老師:</td>
    <td><%= @course.teacher %></td>
  </tr>
</table>
